P{
Font-size:30px;
background-color: yellow;
}
h2
{
background-color: red;
}
p
{

color: red;
font-family: Arial, verdana;
}
h1
{
font-size: 30px;
color: blue;
}
u{
border: solid black 3px;
}
h3
{
background-color:red;
}